@font-face {
    font-family: 'mario';
    src: url('fonts/SuperMario256.ttf');
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    color: #594645;
    text-decoration: underline;
}

body, html {
    position: relative;
    min-height: 100vh;
    font-family: cursive;
}

body {
    background-color: rgb(37, 18, 17);
    margin: 0;
}

.nav{
  display: flex;
  height: 50px;
  padding-bottom: 14px;
}

.nav a{
  padding: 20px;
}

.nav img{
  padding-top: 7px;
  width: 50px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(90, 45, 42);
    height: 20px;
}

.text {
    color: rgb(211, 211, 211);
    text-align: center;
} 

.qipiwebsite {
    padding-top: 100px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.hptext {
    color: rgb(211, 211, 211);
    padding-top: 2vw;
    text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(90, 45, 42);
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  font-size-adjust: 0.8;
  font-family: mario; 
  float: left;
  list-style-type: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(68, 33, 32);
}

.active {
  background-color: rgb(37, 18, 17);
}

/* card */
.flex-container {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.flex-text p {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(211, 211, 211);
    text-align: center;
    text-transform: capitalize;
    font-size: xx-large;
}

.card {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    border-radius: 25px;
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
}

.card:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.6);
}

.gif {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 250px;
}

.spongebob:hover {
  box-shadow: 0 0 64px 0 rgb(255, 251, 0);
  transform: rotateZ(360deg);
}
.fighttext {
  font-family: mario; 
  font-size: xxx-large;
  color: rgb(211, 211, 211);
  padding-top: 2vw;
  text-align: center;
}
.djkhaled:hover {
  box-shadow: 0 0 64px 0 rgb(255, 0, 0);
  transform: rotateZ(-360deg);
}
