* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body, html {
    height: 100%;
}

body {
    background-color: rgb(23, 25, 26);
}

.qipiwebsite {
    padding-top: 2%;
    width: 40vw;
    max-width: 400px;
}

.hptext {
    color: rgb(211, 211, 211);
    padding-top: 5vw;
    text-align: center;
}